$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

body {
    background-color: #2f3238;
    color: #9d9d9d;
    font-size: 22px;
    width: 100%;
    overflow-x: hidden;
    font-family: Raleway;
    padding-top:65px;
}

.blue {
  color: #3085a3;
}

.container {
  margin:5px;
  width: 98%;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../assets/fonts/Raleway-Bold.ttf')  format('truetype');
}

.bold{
  font-family: Raleway-Bold;
}


#fadingBarsG{
position:relative;
width:100px;
height:12px;
display:inline-block;
}

.fadingBarsG{
position:absolute;
top:0;
background-color:#3085a3;
width:12px;
height:12px;
-moz-animation-name:bounce_fadingBarsG;
-moz-animation-duration:2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-transform:scale(.3);
-webkit-animation-name:bounce_fadingBarsG;
-webkit-animation-duration:2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-transform:scale(.3);
-ms-animation-name:bounce_fadingBarsG;
-ms-animation-duration:2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-transform:scale(.3);
-o-animation-name:bounce_fadingBarsG;
-o-animation-duration:2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-transform:scale(.3);
animation-name:bounce_fadingBarsG;
animation-duration:2s;
animation-iteration-count:infinite;
animation-direction:normal;
transform:scale(.3);
}

#fadingBarsG_1{
left:0;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#fadingBarsG_2{
left:13px;
-moz-animation-delay:1s;
-webkit-animation-delay:1s;
-ms-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}

#fadingBarsG_3{
left:25px;
-moz-animation-delay:1.2s;
-webkit-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
animation-delay:1.2s;
}

#fadingBarsG_4{
left:38px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
-ms-animation-delay:1.4s;
-o-animation-delay:1.4s;
animation-delay:1.4s;
}

#fadingBarsG_5{
left:50px;
-moz-animation-delay:1.6s;
-webkit-animation-delay:1.6s;
-ms-animation-delay:1.6s;
-o-animation-delay:1.6s;
animation-delay:1.6s;
}

#fadingBarsG_6{
left:63px;
-moz-animation-delay:1.8s;
-webkit-animation-delay:1.8s;
-ms-animation-delay:1.8s;
-o-animation-delay:1.8s;
animation-delay:1.8s;
}

#fadingBarsG_7{
left:75px;
-moz-animation-delay:2s;
-webkit-animation-delay:2s;
-ms-animation-delay:2s;
-o-animation-delay:2s;
animation-delay:2s;
}

#fadingBarsG_8{
left:88px;
-moz-animation-delay:2.2s;
-webkit-animation-delay:2.2s;
-ms-animation-delay:2.2s;
-o-animation-delay:2.2s;
animation-delay:2.2s;
}

@-moz-keyframes bounce_fadingBarsG{
0%{
-moz-transform:scale(1);
background-color:#3085a3;
}

100%{
-moz-transform:scale(.3);
background-color:#333333;
}

}

@-webkit-keyframes bounce_fadingBarsG{
0%{
-webkit-transform:scale(1);
background-color:#3085a3;
}

100%{
-webkit-transform:scale(.3);
background-color:#333333;
}

}

@-ms-keyframes bounce_fadingBarsG{
0%{
-ms-transform:scale(1);
background-color:#3085a3;
}

100%{
-ms-transform:scale(.3);
background-color:#333333;
}

}

@-o-keyframes bounce_fadingBarsG{
0%{
-o-transform:scale(1);
background-color:#3085a3;
}

100%{
-o-transform:scale(.3);
background-color:#333333;
}

}

@keyframes bounce_fadingBarsG{
0%{
transform:scale(1);
background-color:#3085a3;
}

100%{
transform:scale(.3);
background-color:#333333;
}

}

//animate shit

/* when hiding the thing */
/*
.ng-hide-add         {

  -webkit-animation:0.5s lightSpeedOut ease;

  animation:0.5s lightSpeedOut ease;

}


.ng-hide-remove      {

  -webkit-animation:0.5s flipInX ease;

  animation:0.5s flipInX ease;

}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
/*
@-webkit-keyframes flipInX {

  0% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

    opacity: 0;

  }

  40% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

  }

  60% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    opacity: 1;

  }

  80% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

  }

  100% {

    -webkit-transform: perspective(400px);

    transform: perspective(400px);

  }

}

@keyframes flipInX {

  0% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

    opacity: 0;

  }

  40% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    -webkit-transition-timing-function: ease-in;

    transition-timing-function: ease-in;

  }

  60% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);

    opacity: 1;

  }

  80% {

    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);

  }

  100% {

    -webkit-transform: perspective(400px);

    -ms-transform: perspective(400px);

    transform: perspective(400px);

  }

}


@-webkit-keyframes lightSpeedOut {

  0% {

    opacity: 1;

  }

  100% {

    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);

    transform: translate3d(100%, 0, 0) skewX(30deg);

    opacity: 0;

  }

}

@keyframes lightSpeedOut {

  0% {

    opacity: 1;

  }

  100% {

    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);

    -ms-transform: translate3d(100%, 0, 0) skewX(30deg);

    transform: translate3d(100%, 0, 0) skewX(30deg);

    opacity: 0;

  }

}
*/

.weather {
  .col-xs-2, .col-xs-10 {
    display: inline-block;
    float: none;
  }
}
.angular-google-map, .angular-google-map-container { height: 300px; width:600px; display:inline-block; }

.ib {
  display:inline-block;
}

table.headerTable td {
    padding:10px;
}

@keyframes fadeOut
{
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-webkit-keyframes fadeOut
{
  from { opacity: 1.0 }
  to { opacity: 0.0 }
}

.fade-out
{
  animation: fadeOut 2s infinite;
  -webkit-animation: fadeOut 2s infinite;
}

.labels {
  color: blue;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  border: 1px solid black;
  white-space: nowrap;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    //border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    //border-bottom: 1px solid #eee;
    position: relative;
    //padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
