<div class="row">

    <div class="pull-left digital" style="margin-top:8px;margin-left:15px;">

        <div style="display:inline-block">
           <div style="display:inline-block;text-align:left;" class="digital">
             <img src="/assets/images/robot.png" style="width:50px">
           </div>

           <div style="display:inline-block;vertical-align:top"><span class="blue">Weather Bot v.1.10</span> <br>
            <span class="blue">GEOLOCATION:</span> {{geo}}
              <load-Animation ng-show="!geo"/>

           </div>
        </div>

    </div>

    <div class="pull-right">
      <br>
      <button type="button" class="btn btn-warning" ng-click="getGeo()">reset location</button>
    </div>
</div>

<div class="container">
  <span class="span12">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">    <span ng-bind-html="alert.msg"></span></alert>
  </span>
</div>

<div class="container">
   <div class="col-xs-12 digital" style="display:inline-block;">
     <h3 class="digital" style="display:inline-block">Weather:</h3>
<!-- <load-Animation></load-Animation>-->

     <hourly-Weather data="hourlyWeather"></hourly-Weather>


    </div>
</div>

<!--
<div ng-repeat="hour in hourlyWeather" >
  {{hour.hour}}
</div>
-->




</div>

<footer class="navbar-default navbar-fixed-bottom" style="background-color: black;">
  <div id="container">
      a <img src="assets/images/bitcalculus_logo.gif"> project 2015
  </div>
</footer>

